.member-tile {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.member-tile-avatar {
  margin-right: 15px;
}

.member-tile-content {
  flex: 1;
}